.logo{
  width: 65%;
  margin-right: 05%;
  margin-left: 13%;
  border: 2% double rgb(0, 0, 0);
  text-align: center;
  align-items: center;
}
.card{
  width: 95%;
  border: none;
  margin: auto;
  background: gray;
}